.home{
    img{
        position: relative;
    }
    .desyou{
        position: absolute;
        top: 600px;
        left: 150px;
        button{
            border-radius: 5px;
            border: none;
            font-size: 25px;
            color: #fff;
        }
        .b3{
            width: 200px;
            height: 90px;
            
            top: 15px;
            a{
                color: #fff;
                text-decoration: none;
            }
            .b1:hover{
                background: green;
            }
        }
        .b4{
            width: 200px;
            height: 90px;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}